{% set root = ".." %}
{% set active = "Xeografía" %}
{% set features = ["table"] %}

{% extends "templates/base.html" %}
{% block title %}Glosario xeográfico{% endblock %}

{% block js %}
{{ super() }}
<script>
    $(document).ready(function () {
        $('#main-table').DataTable({
            pageLength: 20,
            lengthMenu: [10, 20, 50, 100],
        });
        $('input[type="search"][aria-controls="main-table"]').focus();
    });
</script>
{% endblock %}

{% block content %}
<p>
  Nomes xeográficos (cidades, territorios, países, constelacións)
  orixinarios do antigo wiki de Proxecto Trasno, que á súa vez proviñan
  de KStars.
</p>
<table id="main-table" class="display table">
    <thead>
        <tr>
            <th>Código ISO</th>
            <th>Tipo</th>
            <th>Inglés</th>
            <th>Galego</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{% if item.id %}País{% elif item.type == "city" %}Cidade{% elif item.type == "constellation" %}Constelación{% else %}Territorio{% endif %}</td>
            <td>{% for name in item.en %}{{ name }}<br>{% endfor %}</td>
            <td>{% for name in item.gl %}{{ name }}<br>{% endfor %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
