{% set root = "." %}
{% set active = "Glosario" %}
{% set features = ["table"] %}

{% extends "templates/base.html" %}
{% block title %}Glosario xeral{% endblock %}

{% block meta %}
<meta name="keywords" lang="en" content="glossary, terminology, translation, software, localization, galician">
<meta name="keywords" lang="gl" content="glosario, terminoloxía, informática, termos, tradución, software, localización, galego">
<meta name="author" lang="gl" content="Leandro Regueiro, 2012, 2013, 2016">
<meta name="author" lang="gl" content="Antón Méixome, 2012">
<meta name="date" content="{{ iso_date }}">
{% endblock %}

{% block css %}
{{ super() }}
<style>
/* Estilos do pé */
#footer {
    margin: 1em 0em 0em 0em;
    padding: 2em 3em 2em 5em;
    background-color: #ccc;
    font-size: 10pt;
}

#footer img {
    margin: 10px 20px;
    float: left;
    border: 0px;
}
</style>
{% endblock %}

{% block js %}
{{ super() }}
<script>
    $(document).ready(function () {
        $('#main-table').DataTable({
            pageLength: 20,
            lengthMenu: [10, 20, 50, 100],
            order: [[0, "desc"], [2, "asc"]],
        });
        $('input[type="search"][aria-controls="main-table"]').focus();
    });
</script>
{% endblock %}

{% block content %}
<table id="main-table" class="display table">
  <thead>
    <tr>
      <th>Acordo</th>
      <th>Concepto</th>
      <th>Galego</th>
      <th>Inglés</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
    <tr>
      <td>
      {% if entry.trasnada %}Trasnada {{ entry.trasnada }}{% endif %}
      </td>
      <td>
        {% if entry.pos %}<b>{{ entry.pos }}</b>{% endif %}
        {% if entry.scope %}<b style="color: #666;">{{ entry.scope }}</b>{% endif %}
        {{ entry.text }}
      </td>
      <td>
        {% if entry.gl.note %}
        <div class="alert alert-info" role="alert" style="margin-bottom: 0">
        {{ entry.gl.note }}
        </div>
        {% endif %}
        <ul class="list-group list-group-flush">
        {% for term in entry.gl.terms %}
          {% if not term.avoid %}
          <li class="list-group-item">
            <span
              class="badge bg-{% if term.preferred and not entry.old %}success{% elif not entry.old %}primary{% else %}secondary{% endif %}"
              title="{% if term.gender %}{{ term.gender }}.{% endif %}{% if term.number %}{{ term.number }}.{% endif %} {% if term.preferred and not entry.old %}Preferido. {% endif %}{{ term.reason }}"
              style="font-size: 16px;"
            >{{ term.id }}</span>
            {% if term.note %}
            <div class="alert alert-info" role="alert" style="margin-bottom: 0; margin-top: 0.5em;">
              {{ term.note }}
            </div>
            {% endif %}
          </li>
          {% endif %}
        {% endfor %}
        {% if entry.gl.terms|selectattr("avoid")|first %}
          <li class="list-group-item">
            {% for term in entry.gl.terms %}
              {% if term.avoid %}
              <span class="badge bg-danger" title="Evitar. {{ term.reason }}">{{ term.id }}</span>
              {% endif %}
            {% endfor %}
          </li>
        {% endif %}
        </ul>
      </td>
      <td>
        {% for term in entry.en %}
        <span class="badge bg-secondary">{{ term.id or term }}</span>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div id="footer">
    <p>
        Prontuario terminolóxico de localización fixada durante as Trasnadas realizadas polo colectivo <a href="http://www.trasno.gal">Proxecto Trasno</a>:
        <br>
        {% for trasnada in trasnadas %}Trasnada {{ trasnada.id }}, en {{ trasnada.place }} o {{ trasnada.date }}: {{ trasnada.entries }} acordos vixentes<br>{% endfor %}
        <br>
        Constituído neste momento por <b>{{ entries|length }} termos</b>, incluídos os do antigo glosario do Proxecto Trasno que non se trataron nas Trasnadas.
        <br>
        <br>
        Pode descargar un ficheiro en formato <a href="http://en.wikipedia.org/wiki/TBX#TBX">estándar TBX (TermBase eXchange)</a> (para incorporar como recurso de tradución da súa ferramenta de tradución) desde aquí:
    </p>
    <ul>
        <li><a href="acordos.tbx" download="acordos.tbx">TBX (só Trasnadas)</a></li>
        <li><a href="completo.tbx" download="completo.tbx">TBX (Trasnadas + glosario antigo)</a></li>
    </ul>
    <p>
        Para información sobre a manipulación de ficheiros TBX, pode consultar
        a
        <a href="http://web.archive.org/web/20210305035642/http://wiki.trasno.gal/index.php?title=Documentaci%C3%B3n">documentación do antigo wiki do Proxecto Trasno</a>.
    </p>
    <!-- TODO idea rara: incluír neste ficheiro os consensos que non son terminoloxía???: desde, frases arquetipo... -->
    <p>
        Última actualización: {{ locale_date }}.
        <!-- TODO incluír unha nota indicando que se están collendo textos da Wikipedia e de Wiktionary para as definicións -->
        <br>
        <br>
        <i>Publicado conforme os termos termos da <a href="http://creativecommons.org/licenses/by-sa/3.0/es/deed.gl">Licenza Creative Commons Recoñecemento-CompartirIgual</a></i>
        <br>
        <i>Licensed under the Creative Commons Attribution/Share-Alike License</i>
        <br>
        <br>
        <a href="http://validator.w3.org/check?uri=referer"><img src="static/valid-xhtml10-blue.png" height="31" width="88" alt="Valid XHTML 1.0 Strict"></a>
        <a href="http://jigsaw.w3.org/css-validator/check/referer"><img src="static/vcss-blue.png" height="31" width="81" alt="Valid CSS level 3!"></a>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/es/deed.gl"><img src="static/creative-commons-88x31.png" height="31" width="88" alt="Creative Commons License"></a>
        <br>
        <br>
    </p>
</div>
{% endblock %}
