{% set root = ".." %}
{% set active = "Pendente" %}
{% set features = ["table"] %}

{% extends "templates/base.html" %}
{% block title %}Discusións pendentes{% endblock %}

{% block js %}
{{ super() }}
<script>
    $(document).ready(function () {
        $('#main-table').DataTable({
            order: [[0, 'desc']],
            pageLength: 20,
            lengthMenu: [10, 20, 50, 100],
        });
        $('input[type="search"][aria-controls="main-table"]').focus();
    });
</script>
{% endblock %}

{% block content %}
<p>
  Temas de discusión pendentes, para abordar durante Trasnadas, e
  chegar a acordos que reflectir na
  <a href="https://trasno.gal/colaborar/traducir/recursos/estilo/">guía de estilo</a>
  e no
  <a href="../index.html">glosario</a>.
</p>
<table id="main-table" class="display table">
    <thead>
        <tr>
            <th>Prioridade</th>
            <th>Nome da discusión</th>
            <th>Último acordo</th>
            <th>Motivo da discusión</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.priority }}</td>
            <td data-order="{{ item.id }}">
                {% if item.options or item.vocabulary or item.debates or item.sources %}
                <a href="{{ item.slug }}.html">
                {{ item.id }}
                </a>
                {% else %}
                {{ item.id }}
                {% endif %}
            </td>
            <td>{% if item.trasnada %}Trasnada {{ item.trasnada }}{% endif %}</td>
            <td>{% if item.motivo %}{{ item.motivo }}{% elif item.drag %}DRAG: {{ item.drag }}.{% elif item.old %}Glosario antigo.{% elif item.14 %}Proposta para a Trasnada 14.0.{% elif item.pending %}Na lista vella de pendentes, pero non seleccionada para a Trasnada 14.0.{% elif item.list %}Discutido na lista de correo.{% elif item.pology %}Regra no Pology.{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
