{% set root = ".." %}
{% set features = ["table"] %}

{% extends "templates/base.html" %}
{% block title %}{{ item.id }} | Discusións pendentes{% endblock %}

{% block css %}
{{ super() }}
<style>
.col.card {
  margin: 0.25em;
}
</style>
{% endblock %}

{% block js %}
{{ super() }}
<script>
$(document).ready(function () {
  $('#table').DataTable({
    paging: false,
    searching: false,
    info: false,
    order: [[1, "desc"]],
    columnDefs: [
      { width: 75, targets: 1 }
    ],
  });
  {% for option in item.options if not option.hide %}
  $('#{{ option.slug }}-table').DataTable({
      paging: false,
      searching: false,
      info: false,
      order: [[1, "desc"]],
  });
  {% endfor %}
});
</script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row text-center">
    <h1>{{ item.id }}</h1>
  </div>
  <div class="row">
    {% if item.sources or item.debates %}
    <div class="col card">
      <div class="card-body">
        {% if item.sources %}
        <h4 class="card-title">Fontes</h4>
        <p>
          {% for source in item.sources %}
          <a style="margin: 0.1em" class="btn btn-primary" href="{{ source.url }}">{{ source.name }}</a>
          {% endfor %}
        </p>
        {% endif %}
        {% if item.debates %}
        <h4 class="card-title">Debates</h4>
        <p>
          {% for debate in item.debates %}
            <a style="margin: 0.1em" class="btn btn-primary" href="{{ debate.url }}">{{ debate.name }}</a>
          {% endfor %}
        </p>
        {% endif %}
      </div>
    </div>
    {% endif %}
    <div class="col card">
      <div class="card-body">
        <h4 class="card-title">Opcións</h4>
        <table id="table" class="display table">
          <thead>
            <tr>
              <th>Opción</th>
              <th title="Padrón buscado: {{ item.re }}">Uso</th>
            </tr>
          </thead>
          <tbody>
            {% for option in item.options if not option.hide %}
            <tr>
              <td>
                <span>
                  <a class="btn btn-secondary" data-bs-toggle="collapse" href="#option-{{ option.slug }}" role="button" aria-expanded="false" aria-controls="option-{{ option.slug }}">
                    {{ option.id }}
                  </a>
                </span>
                {% if option.projects or option.alt_en %}
                <div class="collapse" id="option-{{ option.slug }}" style="margin-top: 0.25em">
                  <div class="card card-body">
                    {% if option.projects %}
                    <table id="{{ option.slug }}-table" class="display table">
                      <thead>
                        <tr>
                          <th>Proxecto</th>
                          <th>Uso</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for project, count in option.projects.items() %}
                        <tr>
                          <td>{{ project }}</td>
                          <td data-order="{{ count }}">
                            {{ count }}
                            {% if count %}
                              {% set percent = count/option.total*100 %}
                              ({{ percent|int }}%)
                            {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% endif %}
                    {% if option.alt_en %}
                    <p>
                      Tamén traduce:
                      {% for en in option.alt_en %}
                      <span class="badge bg-secondary">{{ en.id }}</span>
                      {% endfor %}
                    </p>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
              </td>
              <td title="Padrón buscado: {{ option.re }}" data-order="{{ option.total }}">{{ option.total }} ({{ option.percent }}%)</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
