{% set root = ".." %}
{% set features = ["table"] %}

{% extends "templates/base.html" %}
{% block title %}{{ item.id }} | Discusións pendentes{% endblock %}

{% block css %}
{{ super() }}
<style>
.col.card {
  margin: 0.25em;
}
</style>
{% endblock %}

{% block js %}
{{ super() }}
<script>
$(document).ready(function () {
  $('#table').DataTable({
    paging: false,
    searching: false,
    info: false,
    order: [[1, "desc"]],
    columnDefs: [
      { width: 75, targets: 1 }
    ],
  });
  {% for entry in item.vocabulary %}
    {% for option in entry.options if not option.hide %}
    $('#{{ option.slug }}-table').DataTable({
        paging: false,
        searching: false,
        info: false,
        order: [[1, "desc"]],
    });
    {% endfor %}
  {% endfor %}
});
</script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row text-center">
    <h1>{{ item.id }}</h1>
  </div>
  <div class="row">
    <div class="col card">
      <div class="card-body">
        <h4 class="card-title">Fontes</h4>
          <p>
            {% for source in item.sources %}
            <a style="margin: 0.1em" class="btn btn-primary" href="{{ source.url }}">{{ source.name }}</a>
            {% endfor %}
          </p>
      </div>
    </div>
    <div class="col card">
      <div class="card-body">
        <h4 class="card-title">Debates</h4>
        <p>
          {% for debate in item.debates %}
            <a style="margin: 0.1em" class="btn btn-primary" href="{{ debate.url }}">{{ debate.name }}</a>
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
  {% for entry in item.vocabulary %}
  <div class="row">
    <div class="col card">
      <div class="card-body">
        <h4 class="card-title">{{ entry.id }}</h4>
        <div class="container">
        {% if entry.proposals %}
        <div class="row">
          <div class="col card">
            <div class="card-body">
              <h4 class="card-title">Propostas preliminares</h4>
              {% for proposal in entry.proposals %}
              <div class="row">
                <div class="col card">
                  <div class="card-body">
                    {% if proposal.trasnada %}
                    <h4 class="card-title">Acordo vixente (Trasnada {{ proposal.trasnada }})</h4>
                    {% elif proposal.old %}
                    <h4 class="card-title">Entrada do glosario antigo</h4>
                    {% endif %}
                    <div class="row">
                      <div class="col">
                        <p>
                          <b>{{ proposal.pos }}</b>
                          {{ proposal.text }}
                        </p>
                        <p>
                        {% for en in proposal.en %}
                        <span class="badge bg-secondary">{{ en }}</span>
                        {% endfor %}
                        </p>
                      </div>
                      <div class="col">
                        <ul class="list-group list-group-flush">
                          {% for option in proposal.gl %}
                          <li class="list-group-item">
                            {% for term in option.terms %}
                            <span>
                              <a class="btn btn-secondary">
                                {{ term.id }}
                              </a>
                            </span>
                            {% endfor %}
                            {% if support %}
                            <span
                              class="badge bg-secondary"
                              title="Apoio preliminar: {% for supporter in option.support %}{{ supporter }}{{ ', ' if not loop.last else '' }}{% endfor %}."
                            >
                              {{ option.support|length }}
                            </span>
                            {% endif %}
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}
          <div class="row">
            <div class="col card">
              <div class="card-body">
                {% if entry.senses %}
                <h4 class="card-title">Conceptos sen propostas preliminares</h4>
                <ul class="list-group list-group-flush">
                  {% for sense in entry.senses %}
                  <li class="list-group-item">
                    <p>
                      <b>{{ sense.pos }}</b>
                      {{ sense.text }}
                    </p>
                    <p>
                    {% for en in sense.en %}
                    <span class="badge bg-secondary">{{ en }}</span>
                    {% endfor %}
                    </p>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
                {% if entry.sources %}
                <h4 class="card-title">Fontes</h4>
                <p>
                  {% for source in entry.sources %}
                  <a style="margin: 0.1em" class="btn btn-primary" href="{{ source.url }}">{{ source.name }}</a>
                  {% endfor %}
                </p>
                {% endif %}
                {% if entry.debates %}
                <h4 class="card-title">Debates</h4>
                <p>
                  {% for debate in entry.debates %}
                    <a style="margin: 0.1em" class="btn btn-primary" href="{{ debate.url }}">{{ debate.name }}</a>
                  {% endfor %}
                </p>
                {% endif %}
              </div>
            </div>
            <div class="col card">
              <div class="card-body">
                <h4 class="card-title">Traducións existentes e ideas</h4>
                <table id="table" class="display table">
                  <thead>
                    <tr>
                      <th>Termo</th>
                      <th title="Padrón buscado: {{ entry.re }}">Uso</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for option in entry.options if not option.hide %}
                    <tr>
                      <td>
                        <span>
                          <a class="btn btn-secondary" data-bs-toggle="collapse" href="#option-{{ option.slug }}" role="button" aria-expanded="false" aria-controls="option-{{ option.slug }}">
                            {{ option.id }}
                          </a>
                        </span>
                        {% if option.projects or option.alt_en %}
                        <div class="collapse" id="option-{{ option.slug }}" style="margin-top: 0.25em">
                          <div class="card card-body">
                            {% if option.projects %}
                            <table id="{{ option.slug }}-table" class="display table">
                              <thead>
                                <tr>
                                  <th>Proxecto</th>
                                  <th>Uso</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for project, count in option.projects.items() %}
                                <tr>
                                  <td>{{ project }}</td>
                                  <td data-order="{{ count }}">
                                    {{ count }}
                                    {% if count %}
                                      {% set percent = count/option.total*100 %}
                                      ({{ percent|int }}%)
                                    {% endif %}
                                  </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                            {% endif %}
                            {% if option.alt_en %}
                            <p>
                              Tamén traduce:
                              {% for en in option.alt_en %}
                              <span class="badge bg-secondary">{{ en.id }}</span>
                              {% endfor %}
                            </p>
                            {% endif %}
                          </div>
                        </div>
                        {% endif %}
                      </td>
                      <td title="Padrón buscado: {{ option.re }}" data-order="{{ option.total }}">{{ option.total }} ({{ option.percent }}%)</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
