<!doctype html>
<html lang="gl">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}{% endblock %} do Proxecto Trasno</title>
      <link rel="icon" href="{{ root }}/static/trasno_icona.ico">
      {% block meta %}{% endblock %}
      {% block css %}
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous"
        >
        {% for feature in features %}
          {% if feature == "table" %}
          <link href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
          {% endif %}
        {% endfor %}
      {% endblock css %}
    {% endblock head %}
  </head>
    <body>
        <nav class="navbar navbar-expand-lg" style="background-color: #ccc;">
          <div class="container-fluid">
            <a class="navbar-brand" href="https://trasno.gal">
              <img src="{{ root }}/static/logo_proxecto_trasno.png" alt="Proxecto Trasno" height="24">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                {% for item in menu %}
                  <li class="nav-item">
                    {% if item.name == active %}
                      <a class="nav-link active" href="#">
                    {% else %}
                      <a class="nav-link" href="{{ root }}/{{ item.path }}">
                    {% endif %}
                    {{ item.name }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </nav>
        {% block content %}{% endblock %}
        {% block js %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        {% for feature in features %}
          {% if feature == "chart" %}
            <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
          {% elif feature == "table" %}
            <script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.js"></script>
          {% endif %}
        {% endfor %}
        {% endblock %}
    </body>
</html>
